.other-section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  border: 2px solid rgba(0,0,0, .5);
  background-color: #ff7980;
}

.slider-section{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.spacer{
  background-color: #ff7980;
  display: flex;
  position: relative;
  box-sizing: content-box;
}

.fixed-slider{
  display: flex;
  background-color: #367aff;
  padding: 15px 100vw;

  .slide{
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    min-height: 370px;
    flex-shrink: 0;
    border: 1px solid tomato;
    margin-right: 30px;
    transform: translate3d(0, 0, 0);
  }

  //&::before{
  //  content: '';
  //  position: fixed;
  //  left: 0;
  //  bottom: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-color: #ff7980;
  //  pointer-events: none;
  //  opacity: 0;
  //  transition: opacity 0.3s;
  //}

  &.on-view{
    position: fixed;
    //&::before{
    //  opacity: 1;
    //  pointer-events: auto;
    //}
  }
}



